/* about.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex; /* Use flexbox to arrange content horizontally */
  align-items: center; /* Center vertically */
  background-color: #fdf6e3; /* Warm Beige */
  color: #6c5104; /* Brown */
}

.content {
  flex: 1; /* Allow content to grow and fill available space */
  padding-right: 20px; /* Add some spacing between image and content */
}

.image {
  flex: 1; /* Allow image to grow and fill available space */
  text-align: center; /* Center image horizontally */
}

img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain the image's aspect ratio */
}
