.nav{
    
    background-color: black;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 100vw;
  
    

    

}

.link{
    padding-left: 10px;
    left: 50px;
    float: right;
    
}

.home{
    
    left: 50px;
    top: 30px;

}
.homebutton{
    color: aliceblue;
    background-color: red;
    width: 100px;
    height: 20px;
    margin-top: 10px;
    text-decoration: none;
    border: 10px;
}
.homebutton:hover{
    color: white;
    background-color: hotpink;

}


.links{
    display: flex;
    float: right;
    background: transparent;
      
}


